.container {
  width: 98%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 25px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
  /* margin: 40px; */
}

footer {
  margin-top: 2%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.tweet :hover {
  color: #00adb5;
}

.insta :hover {
  color: #e11d74;
}

.linkd :hover {
  color: #04009a;
}

.mail :hover {
  color: #0dcaf0;
}

.info-icon {
  color: grey; /*256D85 */
  margin: 20px 10px;
}

.anchor-icon :hover {
  transform: scale(1.2);
}

.btn-text {
  color: #fff;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 6%;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.player {
  font-size: 2.5rem;
}

@media (max-width: 989px) {
  /* body {
    width: 100%;
  } */

  h1 {
    /* margin: 25px; */
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    color: #4ecca3;
  }

  img {
    width: 90%;
    margin: 30px;
  }

  footer {
    margin-top: 4%;
  }

  .btn {
    /* font-size: 50px; */
    margin-top: 6%;
    padding: 1.5% 5%;
  }

  .info-icon {
    padding: 3% 1.8%;
    font-size: 2rem;
  }
}
